@charset "utf-8";

// Fullpage css
@import "~fullpage.js/dist/fullpage.css";

// Font for logo + text
@import url('https://fonts.googleapis.com/css?family=Lato|Rubik');

// Setup fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Customize Bulma
$hr-margin: 1rem 0;
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/title";

// Own styles
body {
  margin: $size-7 !important;
  font-family: 'Rubik', sans-serif;
}

// Font for heading
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

// Map and FB styles
#map-iframe {
  width: 100%;
  height: 100%;
}

#fb-iframe {
  height: 100%;
}

.three-quaters-height {
  height: 75%;
}

.full-height {
  height: 100%;
}
